# SLMs/MLMs API KEYS
OPENROUTER_API_KEY=...

# POSTGRESQL (MLflow backend store)
POSTGRESQL_MLFLOW_USERNAME=...
POSTGRESQL_MLFLOW_PASSWORD=...
POSTGRESQL_MLFLOW_DB_NAME=...

# MLFLOW CREDENTIALS
MLFLOW_TRACKING_URI=http://127.0.0.1:5000
MLFLOW_TRACKING_USERNAME=...
MLFLOW_TRACKING_PASSWORD=...
MLFLOW_FLASK_SERVER_SECRET_KEY=...

# DATASET
DATASET_ID=...
